* {
    box-sizing: border-box;
}
body {
    background-image: url("/loginformbgimage.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;    
    width: 95vw;
}

div.form {
    max-width: 35%;
    min-width: 35%;
    border: 7px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(206, 226, 245, 0.8);
}

div.form>form>p {
    text-align: center;
    color: black;
    width: 100%;
    letter-spacing: 3px;
    font-weight: bolder;
    font-family: cursive;
    font-size: larger;
    font-variant: small-caps;
}

label, input {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

input[type="submit"] {
    width: 40%;
    background-color: rgba(176, 250, 176, 0.6);
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

label {
    color: black;
    font-weight: bolder;
    font-size: large;
}

input {
    font-size: 90%;
    padding: 4px 6px;
}